<div id="row2" class="card">
  <div class="card-body">
        <p class="card-text">Spent on: <%= @deal.name %></P>
        <p class="card-text">Amount spent: $<%= @deal.amount %></P>
        <p><%= link_to "Back to user", users_path, class:"btn btn-primary", class:"btn btn-primary" %></p>

  </div>
</div>